@import './variables.css';
@import './reset.css';

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 clamp(1.5rem, 5vw, 6rem);
}

.display-text {
  font-family: var(--font-display);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.02em;
}